body{
    margin-top:60px;
    background-color: rgb(31, 31, 31);
}

.nav-item{
    padding:0px 30px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.noticia{
    margin-top: 20px;
    background: white;
}


.comentarios{
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;
}

.boton{
    display: inline-block;
    position: absolute;
    right:20px;
    bottom: 20px;
}

.sidebar{
    margin-top:20px;
    background:white;
    border-color: black;
    border-style: solid;
    border-width: 5px;
  }
  
  .sidebar h3{
    color: rgb(12, 12, 12);
  }

  footer {
    padding:15px;
    background-color: #111111;
  }
  
  